@import 'variables';

@for $i from 1 through 31 {
  .calendar__day:nth-child(#{$i}) {
    &::before {
      content: '#{$i}';
      position: absolute;
      top: 50%;
      left: 50%;
      font-family: Arial, sans-serif;
      font-size: 30px;
      transform: translate(-50%, -50%);
    }
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calendar {
  display: grid;
  grid-template-columns: repeat($days-in-week, $day-size);
  gap: $gap-size;
  padding: $padding;

  &__day {
    background-color: $gray;
    box-sizing: border-box;
    height: $day-size;
    width: $day-size;
    border: 1px solid black;
    position: relative;
    transition: transform 0.5s ease-in-out;
    transition:
      background-color 0.5s,
      transform 0.5s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: $pink;
      transform: translateY(-20px);
      // pointer-events: none;
    }
  }
}
