@import 'variables';

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  display: grid;
  align-self: center;
  flex-direction: column;
  grid-template-columns: repeat(7, 100px);
  gap: $gap-size;

  &__day {
    background-color: $gray;
    box-sizing: border-box;
    height: $day-size;
    width: $day-size;
    border: 1px solid black;
    position: relative;
    transition: transform 500ms;

    &:hover {
      cursor: pointer;
      background-color: $pink;
      transform: translateY(-20px);
    }
  }
}

@for $i from 1 through 31 {
  .calendar__day:nth-child(#{$i}) {
    &::before {
      content: '#{$i}';
      position: absolute;
      top: 50%;
      left: 50%;
      font-family: Arial, sans-serif;
      font-size: 30px;
    }
  }
}
